* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */
$dark-cyan: hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);

/* Font Size */
$font-size-md: 18px;
$margin-xs: .5rem;
$margin-sm: 1rem;

/* Global */
body {
  font-family: 'Kumbh Sans', sans-serif;
  background: 
    url('../images/bg-pattern-top.svg') top -400px left -100px no-repeat,
    url('../images/bg-pattern-bottom.svg') bottom -400px right -100px no-repeat;
  background-color: $dark-cyan;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  width: 90%;
}

.flex {
  display: flex;
  height: 95vh;
  align-items: center;
}

/* Card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background-color: #fff;
  font-size: $font-size-md;
  
}

.card__header-image {
  width: 450px;
  border-radius: 10px 10px 0 0;
}

.card__body {
  position: relative;
  bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
  padding-bottom: 2rem;

  .card__body-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .card__body-name {
    font-size: $font-size-md;
    margin: $margin-sm 0 $margin-xs 0;
    color: $dark-blue;
  }

  .card__body-location {
    color: $dark-gray;
  }
}

.card__body-name {
  & .card__body-age {
    display: inline-block;
    font-weight: normal;
    color: $dark-gray;
  }
}

.card__footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 2rem;

  & h3 {
    font-size: $font-size-md;

    & p:first-child {
      color: $dark-blue;
    }

    & p:last-child {
      color: $dark-grayish-blue;
    }
  }
}

.card__footer-followers-sub,
.card__footer-links-sub,
.card__footer-photos-sub {
  font-weight: normal;
  margin-top: $margin-xs;
}

.attribution {
  font-size: 11px;
  text-align: center;

  & a {
    color: #fff;
  }
}